<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="defaultIP" value="10.100.5.0"/>
		<add key="DriverDataTarget" value="C:\TestD"/>
		<add key="WizardDataTarget" value="C:\TestW"/>
		<add key="Domain" value="BRIGHTMACHINES"/>
		<add key="UserName" value="Administrator"/>
		<add key="Password" value="BMachine!"/>
		<add key="BackupFolder" value="C:\MachineBackup"/>
    <add key="CsvFolder" value="C:\MachineBackup"/>
	</appSettings>
</configuration>